*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    margin: 10px;
    width: 550px;
    min-height: 100vh;
    background-color: #e8e8e8;
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;    
}
.tree{
    width: 380px;
    height: 680px;
    position: relative;
    background: #fff;
    border: 1px #fff solid;
    display: block;
    border: 1px solid gray; 
}    

